<ion-content padding class="bg">
    <div text-center>
        <ion-img src="assets/imgs/order.png" alt="logo" title="logo"></ion-img>
        <br>
        <h4 text-center margin-top>ADM MOBILE</h4>
    </div>
    <ion-list>
        <form class="bg" (ngSubmit)="signIn()" [formGroup]="form">
            <ion-item class="bg">
                <ion-label color="light" stacked floating><ion-icon name="mail"  class="text-white"></ion-icon> E-mail: </ion-label>
                <ion-input color="light" type="email" [(ngModel)]="email" name="email" formControlName="email"></ion-input>
            </ion-item>

            <ion-item class="bg">
                <ion-label color="light" stacked floating><ion-icon name="lock"  class="text-white"></ion-icon> Senha: </ion-label>
                <ion-input color="light" type="password" name="password" [(ngModel)]="password" formControlName="password"></ion-input>
            </ion-item>
            <br>
            <div text-center margin-top>
                <button block type="submit" ion-button color="secondary" [disabled]="!form.valid">
                    <ion-icon name="send"></ion-icon>&nbsp; Entrar
                </button>
                <p text-center>Esqueceu sua senha?</p>
            </div>
        </form>
    </ion-list>
</ion-content>
