page-login {
    .bg {
        /*background: #0492F6;*/
        color: #fff;
        background:#405491;
    }

    .text-white {
        color: #fff;
    }

    ion-img {
        width: 145px;
        height: 145px;
        background: transparent !important;
    }
}
