<ion-header>
    <ion-navbar hideBackButton color="principal">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-toolbar>
            <ion-searchbar (ionInput)="filterClients($event)" [(ngModel)]="searchClient"></ion-searchbar>
        </ion-toolbar>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item text-wrap *ngFor="let client of clients; let i=index">
            <div (click)="selectClient(client.CODIGO, client.RAZSOC)">
                <h3 text-wrap><strong>Cliente:</strong> {{client.CODIGO}} - {{client.RAZSOC}}</h3>
                <h3><strong>CNPJ:</strong> {{ client.NUMCGC }} </h3>
            </div>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer>
    <ion-toolbar> <p style="margin-left: 6px">Total cadastrados: {{ clients.length }}</p> </ion-toolbar>
</ion-footer>
