
<ion-header>
    <ion-navbar hideBackButton color="principal">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-grid>
            <ion-row>
                <ion-col col-6>
                    <ion-label text-left color="light"> Produtos </ion-label>
                </ion-col>
                <ion-col col-6>
                    <ion-label text-right color="light" (click)="saveItens()">
                        Salvar
                    </ion-label>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-navbar>
    <ion-grid>
        <ion-row>
            <ion-col col-10>
                <ion-searchbar (ionInput)="filterProducts($event)" [(ngModel)]="searchText"></ion-searchbar>
            </ion-col>
            <ion-col col-2>
                <button ion-button (click)="scanProduct()">
                    <ion-icon name="barcode"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-grid>
            <ion-item text-wrap ion-item *ngFor="let product of products; let item = index">
                <ion-row>
                    <ion-col col-12>
                        <h4 text-wrap>{{ product.CODPRO }} - {{ product.DESPRO }} </h4>
                    </ion-col>
                    <hr>
                    <ion-col col-6>
                        <ion-thumbnail item-start>
                            <img src="assets/imgs/banana.png">
                        </ion-thumbnail>
                        <h3 class="price"> &nbsp; {{ product.PRE001 | currency:'BRL':true }} </h3>
                    </ion-col>
                    <ion-col col-6>
                        <br><br>
                        <span style="padding: 14px; font-size: 16px; background: #BC2620; color: #fff">
                            <ion-icon text-center name="remove" (click)="decrement(product); sumQuanti('diminuir'); valorTotal('diminuir');"></ion-icon>
                        </span>

                        <span style="font-size: 16px; margin: 18px">{{product.CON010 || 0}}</span>

                        <span style="padding: 14px; font-size: 16px; background: #66AB1A; color: #fff">
                            <ion-icon text-center name="add" (click)="increment(product); sumQuanti('somar'); valorTotal('somar'); valorST('somar'); valorIPI('somar')" ></ion-icon>
                        </span>
                    </ion-col>
                </ion-row>
            </ion-item>
        </ion-grid>
    </ion-list>
</ion-content>
<ion-footer>
    <ion-toolbar color="bgalt">
        <h5 style="margin-left: 15px">{{ totalItens }} itens <span style="float: right; margin-right: 15px"> {{ totalValor | currency:'BRL':true }} </span></h5>
    </ion-toolbar>
</ion-footer>
