<ion-header>
    <ion-navbar hideBackButton color="principal">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Pedidos</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row text-center>
            <ion-col col-4><ion-icon name="play" color="warning"></ion-icon> Pré-pedido</ion-col>
            <ion-col col-4><ion-icon name="play" color="primary"></ion-icon> Concluído</ion-col>
            <ion-col col-4><ion-icon name="play" color="secondary"></ion-icon> Faturado</ion-col>
            <ion-col col-12><hr></ion-col>
        </ion-row>
    </ion-grid>
    <ion-list>
        <ion-card>
            <ion-card-header>
                <ion-item>
                    Pedido #1
                    <ion-badge color="primary" item-end>Concluído</ion-badge>
                </ion-item>
                <hr>
            </ion-card-header>
            <ion-card-content>
                <h3><ion-icon name="person"></ion-icon> Cliente Teste</h3>
                <h3><ion-icon name="calendar"></ion-icon> 45 dias</h3>
                <h3><ion-icon name="logo-usd"></ion-icon> 2.500,00</h3>
                <hr>
                <ion-item><h3 item-right clear>Emitido por: Vendedor</h3></ion-item>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
                <ion-item>
                    Pedido #2
                    <ion-badge color="warning" item-end>Pré-pedido</ion-badge>
                </ion-item>
                <hr>
            </ion-card-header>
            <ion-card-content>
                <h3><ion-icon name="person"></ion-icon> Cliente Teste</h3>
                <h3><ion-icon name="calendar"></ion-icon> A vista</h3>
                <h3><ion-icon name="logo-usd"></ion-icon> 3.500,00</h3>
                <hr>
                <ion-item><h3 item-right clear>Emitido por: Vendedor</h3></ion-item>
            </ion-card-content>
        </ion-card>
    </ion-list>

    <ion-fab right bottom>
        <button ion-fab color="primary" (click)="addOrder()">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>
</ion-content>

    <!--
        <ion-list>
            <ion-item>
                <ion-thumbnail item-start>
                    <ion-img src="assets/imgs/no-image.png"></ion-img>
                </ion-thumbnail>
                <h2>Produto teste</h2>
                <p>Valor: 50,00</p>
                <ion-icon class="nolineBreak" name="remove-circle" color="primary"></ion-icon>
                <p class="nolineBreak">50</p>
                <ion-icon name="add-circle" color="primary"></ion-icon>
                <ion-icon name="trash" item-end color="danger"></ion-icon>
            </ion-item>
        </ion-list>

        <span>
            <ion-item>
                <h2>Total</h2>
                <ion-badge item-end> 50,00</ion-badge>
            </ion-item>

            <ion-fab right bottom>
                <button ion-fab color="primary"><ion-icon name="add"></ion-icon></button>
            </ion-fab>
        </span>
        -->
