<ion-header>
    <ion-navbar hideBackButton color="principal">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-toolbar>
            <ion-searchbar (ionInput)="filterProducts($event)" [(ngModel)]="searchText"></ion-searchbar>
        </ion-toolbar>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-refresher (ionRefresh)="doRefresh($event);reset()">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <button text-wrap ion-item *ngFor="let product of products">
            <ion-thumbnail item-start>
                <img src="assets/imgs/no-image.png"/>
            </ion-thumbnail>
            <h2 text-wrap> {{ product.DESPRO }} </h2>
            <h2> {{ product.CODPRO }} </h2>
            <h2> {{ product.UNIDAD }} </h2>
            <h2 class="price"> {{ product.PRE001 | currency:'BRL':true }} </h2>
        </button>
    </ion-list>
    <!--
    <ion-fab right bottom>
            <button ion-fab color="primary" (click)="addProduct()"><ion-icon name="add"></ion-icon></button>
        </ion-fab>
    -->
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
<ion-footer>
    <ion-toolbar>
        <p>Total: {{ products.length }}</p>
    </ion-toolbar>
</ion-footer>
