<ion-menu [content]="content" [persistent]="true">
    <ion-header>
        <ion-toolbar>
            <ion-title>ADM Mobile</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list>
            <button menuClose ion-item *ngFor="let p of pages" (tap)="openPage(p)">
                <ion-icon [name]="p.icon" item-left></ion-icon> {{p.title}}
            </button>
        </ion-list>
    </ion-content>
</ion-menu>
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
