<ion-header>
    <ion-navbar hideBackButton color="principal">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-toolbar>
            <ion-searchbar (ionInput)="filterClients($event)" [(ngModel)]="searchClient"></ion-searchbar>
        </ion-toolbar>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item text-wrap *ngFor="let client of clients; let i=index" (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}">
            <h3 text-wrap>
                <ion-icon color="success" item-left [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropleft'"></ion-icon>
                <strong>{{ client.CODIGO }} - {{client.RAZSOC}} </strong>
            </h3>
            <div *ngIf="isGroupShown(i)">
                <hr>
                <h3><strong>CNPJ:</strong> {{ client.NUMCGC }} </h3>
                <h3><strong>Inscrição:</strong> {{ client.INSCRI }} </h3>
                <h3><strong>Endereço:</strong> {{ client.ENDERE }}, {{ client.NUMERO }} </h3>
                <h3><strong>Telefone:</strong> {{ client.TELEFO }} </h3>
                <h3><strong>Bairro:</strong> {{ client.BAIRRO }} </h3>
                <h3><strong>CEP:</strong> {{ client.CEPPPP }} </h3>
            </div>
        </ion-item>
    </ion-list>
    <!--
    <ion-fab right bottom>
        <button ion-fab color="primary" (click)="addClient()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
    -->
</ion-content>
<ion-footer>
    <ion-toolbar> <p>Total: {{ clients.length }}</p> </ion-toolbar>
</ion-footer>
