<ion-header>
    <ion-navbar hideBackButton color="principal">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-grid>
            <ion-row>
                <ion-col col-6>
                    <ion-label text-left color="light"> Pedido </ion-label>
                </ion-col>
                <ion-col col-6>
                    <ion-label text-right color="light" (click)="click()">
                        Salvar
                    </ion-label>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-badge color="warning" item-end>Pré pedido</ion-badge>
        </ion-item>
        <ion-item *ngIf="!codigo" (click)="selectClient()">
            <ion-icon name="person" item-start></ion-icon>
            <h2>Selecione o cliente</h2>
        </ion-item>

        <ion-item text-wrap *ngIf="codigo" (click)="selectClient()">
            <ion-icon name="person" item-start></ion-icon>
            <h2>{{codigo}} - {{razsoc}}</h2>
        </ion-item>

        <ion-item>
            <ion-grid>
                <ion-row text-center>
                    <ion-col col-6>
                        <button color="secondary" text-center ion-item (click)="selectProduct()">
                            <ion-icon name="add-circle"></ion-icon> Produtos
                        </button>
                    </ion-col>
                    <ion-col col-6>
                        <button color="primary" text-center ion-item >
                            <ion-icon name="remove-circle"></ion-icon> Desconto
                        </button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
        <ion-list *ngIf="itens?.length > 0" >
            <ion-item text-wrap (click)="toggleGroup(1)" [ngClass]="{active: isGroupShown(1)}">

                <button text-center ion-item color="primary">
                    <ion-icon [name]="isGroupShown(1) ? 'arrow-dropdown' : 'arrow-dropleft'"></ion-icon>
                    VER PRODUTOS
                </button>

                <div *ngFor="let item of itens;" >
                    <ng-container *ngIf="isGroupShown(1)">
                        <br>
                        <h3><strong>Código:</strong> {{item.CODPRO}} </h3>
                        <h3><strong>Descrição:</strong> {{ item.DESPRO }}</h3>
                        <h3><strong>Qtd:</strong> {{ item.CON010 }} </h3>
                        <h3><strong>Valor:</strong> {{ item.PRE001  | currency:'BRL':true }} </h3>
                        <hr>
                    </ng-container>
                </div>
            </ion-item>
        </ion-list>
        <ion-item>
            <ion-label stacked>
                <ion-icon name="warning"></ion-icon> Status:
            </ion-label>
            <ion-select name="status">
                <ion-option value="1" selected> PRÉ PEDIDO </ion-option>
                <ion-option value="2"> CONFIRMADO </ion-option>
                <ion-option value="3"> ANULADO </ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label stacked>
                <ion-icon name="logo-usd"></ion-icon> Forma de pagamento:
            </ion-label>
            <ion-select name="conpag">
                <ion-option *ngFor="let pay of payment;" value="{{pay.CODIGO}}">
                    {{pay.DESCRI}}
                </ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label stacked>
                <ion-icon name="calendar"></ion-icon> Data de emissão:
            </ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" name="datemi" min="2017" max="2050-12-31" [(ngModel)]="dateNow"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label stacked>
                <ion-icon name="person"></ion-icon> Vendedor:
            </ion-label>
            <ion-input name="nomusu" [(ngModel)]="nomusu" readonly></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>
                Observações:
            </ion-label>
            <ion-textarea placeholder="" name="observ"></ion-textarea>
        </ion-item>
        <ion-item>
            <ion-grid>
                <ion-row text-center>
                    <ion-col col-6>
                        <button color="primary" text-center ion-item>
                            <ion-icon name="mail"></ion-icon> Enviar email
                        </button>
                    </ion-col>
                    <ion-col col-6>
                        <button color="secondary" text-center ion-item >
                            <ion-icon name="checkmark"></ion-icon> Gerar pedido
                        </button>
                    </ion-col>
                    <ion-col col-12>
                        <button color="warning" text-center ion-item >
                            <ion-icon name="logo-usd"></ion-icon> Faturar
                        </button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer>
    <ion-toolbar color="bgalt">
        <h5>Qtd total:.... {{ qtdItens }}</h5>
        <h5>Valor total:.. {{ valTotal }}| currency:'BRL':true }}</h5>
        <h5>Total ST:..... {{ totalST | currency:'BRL':true }}</h5>
        <h5>Total IPI:.... {{ totalIPI | currency:'BRL':true }}</h5>
    </ion-toolbar>
</ion-footer>
